// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
// @use "tailwindcss";
@use "@angular/material" as mat;
:root {
  --mat-toolbar-standard-height: 64px;
  --mat-sys-background: light-dark(#f5f5f5, #171717);
  --mat-sys-foreground: light-dark(#171717, #f5f5f5);
  --mat-sys-level1: 0px 2px 1px -1px var(--mat-sys-foreground-shadow),
    0px 1px 1px 0px var(--mat-sys-foreground-shadow),
    0px 1px 3px 0px var(--mat-sys-foreground-shadow);
  --mat-sys-level2: 0px 3px 3px -2px var(--mat-sys-foreground-shadow),
    0px 3px 4px 0px var(--mat-sys-foreground-shadow),
    0px 1px 8px 0px var(--mat-sys-foreground-shadow);
  --mat-sys-foreground-shadow: light-dark(
    oklab(20.463% 0 -0.00002 / 0.15),
    oklab(97.015% 0 -0.00011 / 0.1)
  );
  @include mat.toolbar-overrides(
    (
      container-background-color: transparent,
    )
  );
}
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.button-overrides(
    (
      tonal-container-color: var(--mat-sys-primary),
      tonal-label-text-color: var(--mat-sys-background),
      protected-container-color: var(--mat-sys-background),
      protected-label-text-color: var(--mat-sys-foreground),
    )
  );

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
